p{ 
    margin-left: 150px;
    border-width: 20px;
    border-color: blue; 
    border-style: solid;
    

}
 h1{ line-height: 150px;
 
 
     color : rgb(63, 158, 195);
     background-color: crimson;
     }

 